<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <log4net>

      <root>
        <level value="ALL"></level>
        <appender-ref ref="RollingFileAppender" />
        <appender-ref ref="AdoNetAppender_SQLServer" />
        <!--<appender-ref ref="AdoNetAppender_Oracle" />-->
        <!-- DebugAppender在VS可以在 輸出 視窗看到message, 在IIS要另外out file-->
        <appender-ref ref="DebugAppender" />
      </root>

      <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender" >
        <file value=".\Logs\log" />
        <encoding value="utf-8" />
        <appendToFile value="true" />
        <rollingStyle value="Date" />
        <datePattern value="yyyyMMdd'.txt'" />
        <staticLogFileName value="false" />
        <maxSizeRollBackups value="100" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%-5p %date{yyyy/MM/dd HH:mm:ss} %-20c{1} 事件:%-20M 訊息:%m%n " />
          <!--<conversionPattern value="記錄時間：%date 執行緒ID：[%thread] 日誌級別：%-5level - 訊息描述：%message%newline" />-->
        </layout>
      </appender>

      <appender name="AdoNetAppender_SQLServer" type="log4net.Appender.AdoNetAppender">
        <bufferSize value="1" />
        <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <!-- Integrated Security要設定false, 不要以整合(windows)驗證登入SQL Server, 在IIS上會以AppPool的帳號登入 -->
        <connectionString value="Data Source=Eddie-NB\SQL2014; Persist Security Info=True; Initial Catalog=EddieDB;User ID=sa;Password=20873360;Integrated Security=false;" />
        <!--
        CREATE TABLE [dbo].[SYSTEM_LOG](
	        [Log_ID] [int] IDENTITY(1,1) NOT NULL,
	        [Log_Date] [datetime] NULL,
	        [Log_Thread] [varchar](255) NULL,
	        [Log_Level] [varchar](50) NULL,
	        [Logger] [varchar](255) NULL,
	        [Log_Message] [varchar](4000) NULL,
	        [Log_Exception] [varchar](2000) NULL,
         CONSTRAINT [PK_SYSTEM_LOG] PRIMARY KEY CLUSTERED 
        (
	        [Log_ID] ASC
        )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
        ) ON [PRIMARY]
        -->
        <commandText value="INSERT INTO SYSTEM_LOG (Log_Date,Log_Thread,Log_Level,Logger,Log_Message,Log_Exception) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
        <parameter>
          <parameterName value="@log_date" />
          <dbType value="DateTime" />
          <layout type="log4net.Layout.RawTimeStampLayout" />
        </parameter>
        <parameter>
          <parameterName value="@thread" />
          <dbType value="String" />
          <size value="255" />
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%thread" />
          </layout>
        </parameter>
        <parameter>
          <parameterName value="@log_level" />
          <dbType value="String" />
          <size value="50" />
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%level" />
          </layout>
        </parameter>
        <parameter>
          <parameterName value="@logger" />
          <dbType value="String" />
          <size value="255" />
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%-20M" />
            <!--<conversionPattern value="%logger" />-->
          </layout>
        </parameter>
        <parameter>
          <parameterName value="@message" />
          <dbType value="String" />
          <size value="4000" />
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%message" />
          </layout>
        </parameter>
        <parameter>
          <parameterName value="@exception" />
          <dbType value="String" />
          <size value="2000" />
          <layout type="log4net.Layout.ExceptionLayout" />
        </parameter>
      </appender>

      <appender name="AdoNetAppender_Oracle" type="log4net.Appender.AdoNetAppender">
        <bufferSize value="1" />

        <connectionType value="System.Data.OracleClient.OracleConnection, System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <connectionString value="Data Source=UMASK;User ID=umask;Password=1234" />

        <commandText value="INSERT INTO SYSTEM_LOG (Log_ID,Log_Date,Log_Thread,Log_Level,Logger,Log_Message,Log_Exception) VALUES (SYSTEM_LOG_SEQ.nextval, :log_date, :thread, :log_level, :logger, :message, :exception)" />
        <parameter>
          <parameterName value=":log_date" />
          <dbType value="DateTime" />
          <layout type="log4net.Layout.RawTimeStampLayout"/>
        </parameter>
        <parameter>
          <parameterName value=":thread" />
          <dbType value="String" />
          <size value="255" />
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%thread" />
          </layout>
        </parameter>
        <parameter>
          <parameterName value=":log_level" />
          <dbType value="String" />
          <size value="50" />
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%level" />
          </layout>
        </parameter>
        <parameter>
          <parameterName value=":logger" />
          <dbType value="String" />
          <size value="255" />
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%logger" />
          </layout>
        </parameter>
        <parameter>
          <parameterName value=":message" />
          <dbType value="String" />
          <size value="4000" />
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%message" />
          </layout>
        </parameter>
        <parameter>
          <parameterName value=":exception" />
          <dbType value="String" />
          <size value="2000" />
          <layout type="log4net.Layout.ExceptionLayout" />
        </parameter>
      </appender>
      
      <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
        <immediateFlush value="true" />
        <layout type="log4net.Layout.SimpleLayout" />
      </appender>
      
    </log4net>
</configuration>


