<?xml version="1.0"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <pages controlRenderingCompatibilityVersion="4.0" />
    <!--<pages controlRenderingCompatibilityVersion="4.0" enableEventValidation="false"/>-->
    <!--The default size is 4096 kilobytes (4 MB). MaxValue is 2147483647 KB (2 TB)-->
    <!--設定會允許最大 10 MB(10240) 的檔案上傳, Exception:超出最大的要求長度-->
    <httpRuntime executionTimeout="6000000" maxRequestLength="102400" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <!--The default size is 30000000 bytes (28.6 MB). MaxValue is 4294967295 bytes (4 GB)-->
        <!-- 1000 MB in bytes -->
        <requestLimits maxAllowedContentLength="1048576000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <!--<connectionStrings>
    <add name="Retail" connectionString="Data Source=Eddie-NB\SQL2014;Initial Catalog=YLIQMDW;User ID=sa;Password=20873360" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
  <appSettings>
    <!--SQL Server-->
    <add key="RetailConnectionString" value="Server=Eddie-NB\SQL2014;Database=RetailDW_M;User Id=sa;Password=20873360;"/>
    <add key="EddieDBConnectionString" value="Server=Eddie-NB\SQL2014;Database=EddieDB;User Id=sa;Password=20873360;"/>
    <add key="aspnet:MaxJsonDeserializerMembers" value="2147483644" />
    <!--設定Log4net.config的檔案位置--> 
    <add key="log4net.Config" value="log4net.config"/>
    <!-- log4net configuration when running in debug mode. -->
    <add key="log4net.Internal.Debug" value="true" />
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644">
        </jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
  <!-- 如果log4net放到IIS web site後, 無法在VS中看到輸出畫面的message坐debug, 這時可以導出到一個file-->
  <!--<system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="D:\log4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>-->
</configuration>