.div_bg 
{
    width: 99%;
    background: white; 
    padding: 0px 0px 0px 7px;   
    
}
.Content_Small_no_Position
{
    overflow: hidden;
    margin-left: 30px;
    width: 800px;
    /*top: 60px;*/
    background: white;
    min-height: 370px;
    /**height: expression(document.getElementById('divMasterPageContentPlaceHolder').clientHeight - 40);*/

}

/* datepicker image style*/
img.ui-datepicker-trigger {
    cursor: pointer;
    margin-left: 4px!important;
    vertical-align: middle;
}


/*Table Style*/
table.Grid
{
    /*width: 100%;*/
    font-size: 12px;
    color: #333333;
    border-width: 1px;
    border-color: #cccccc;
    border-collapse: collapse;
}
.TD_Title
{
    color: Black;
    background-color: RGB(247,247,247);
    font-weight: bold;
    text-align: right;
}

.btn
{
    text-decoration: none;
    background: #25A6E1;
    padding: 5px 11px ;
    color: #fff !important;
    font-family: Arial, 'Helvetica Neue' ,sans-serif;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #1A87B9;
}
.btn:hover { background:#2eb2ed; color:#EAEAEA; transition:all .1s ease-in;}

.DisableBtn
{
    text-decoration: none;
    background: #A4A4A4 !important;
    background: -moz-linear-gradient(top,#A4A4A4 0%,#8C8C8C 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#A4A4A4),color-stop(100%,#8C8C8C));
    background: -webkit-linear-gradient(top,#A4A4A4 0%,#8C8C8C 100%);
    background: -o-linear-gradient(top,#A4A4A4 0%,#8C8C8C 100%);
    background: -ms-linear-gradient(top,#A4A4A4 0%,#8C8C8C 100%);
    background: linear-gradient(top,#A4A4A4 0%,#8C8C8C 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A4A4A4',endColorstr='#8C8C8C',GradientType=0);
    padding: 5px 11px ;
    color: #EAEAEA !important;
    font-family: Arial, 'Helvetica Neue' ,sans-serif;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #747474;
    cursor:default;
}

.button{
  padding:6px 12px;
  margin-top:10px; margin-top:5px \9;
  background:#359100;
  color: #fff;
  cursor: pointer;
  font-family:'微軟正黑體','Arial';
  font-size:14px;
  position: relative;
  text-align: center;
  text-decoration: none;
  border-radius:5px;
  display:inline-block;
  *zoom: 1;*display: inline;
  border:none
	}
.button:hover ,.button:active{ background:#308fd7; color:#FFF; transition:all .1s ease-in;}
